var getType  = function (type){
// 
  var name = ''
     if (type == 1) {
        name = "下单员"
      } else if (type == 2) {
        name = "厨师长"
      } else if (type == 3) {
        name = "采购"
      } else if (type == 4) {
        name = "仓库"
      } else if (type == 5) {
        name = "财务"
      } else if (type == 6) {
        name = "店长"
      } else if (type == 7) {
        name = "老板"
      }
  return  name
}

module.exports = {getType:getType}